In [1]:
# import
import pandas as pd
import duckdb

In [2]:
# read outlet data 2023
ol_df1 = pd.read_excel(open("C:/Users/Shithi.Maitra/Downloads/WS SKU Wise Outlet wise data.xlsx", "rb"), sheet_name="2023", header=1, index_col=None)
ol_df1.columns = ['outlet_code', 'basepack', 'jan_23', 'feb_23', 'mar_23', 'apr_23', 'may_23', 'jun_23', 'jul_23', 'aug_23', 'sep_23', 'total_23']

# refine outlet codes

# seq
ol_df1 = duckdb.query('''select *, row_number() over() seq from ol_df1''').df()

# min
qry = '''
select outlet_code outlet_code_rf, min(seq) min_seq
from ol_df1
where outlet_code is not null
group by 1
order by 2 asc
'''
df = duckdb.query(qry).df()

# max
min_seq = df['min_seq'].tolist()
max_seq = []
entries = len(min_seq)
for i in range(1, entries): max_seq.append(min_seq[i]-1)
max_seq.append(ol_df1.shape[0])
df['max_seq'] = max_seq

# join
qry = '''
select outlet_code_rf outlet_code, basepack, jan_23, feb_23, mar_23, apr_23, may_23, jun_23, jul_23, aug_23, sep_23, total_23
from 
    ol_df1 tbl1 
    inner join 
    df tbl2 on(seq>=min_seq and seq<=max_seq)
'''
ol_df1 = duckdb.query(qry).df()

# handle nulls
ol_df1 = ol_df1.fillna(0)

# see
display(ol_df1)

,outlet_code,basepack,jan_23,feb_23,mar_23,apr_23,may_23,jun_23,jul_23,aug_23,sep_23,total_23
0,K36-2241,HORLICKS FUNC NTR STD JAR 250G,0.00,1261.68,2523.36,0.00,0.0,0.0,0.00,2523.36,0.0000,6308.4000
1,K36-2241,HORLICKS FUNC NTR STD JAR 500G,9420.48,0.00,0.00,1570.08,0.0,0.0,2355.12,0.00,0.0000,13345.6800
2,K36-2241,HORLICKS FUNC NTR STD POUCH 500G,0.00,0.00,0.00,0.00,0.0,0.0,7532.72,0.00,0.0000,7532.7200
3,K36-2241,HORLICKS FUNC NTR WOMEN JAR 400G,0.00,1074.76,3224.28,0.00,0.0,0.0,0.00,0.00,1612.1400,5911.1800
4,K36-2241,KNORR INSTANT SOUP CHICKEN CORN 24G,864.00,0.00,432.00,0.00,486.0,1579.5,0.00,0.00,0.0000,3361.5000
...,...,...,...,...,...,...,...,...,...,...,...,...
1048566,C23-1053,PEPSODENT TOOTHPASTE GERMICHECK 200G,0.00,0.00,0.00,0.00,0.0,0.0,0.00,0.00,842.7498,842.7498
1048567,C23-1053,PEPSODENT TOOTHPASTE GERMICHECK 45G,43.75,43.75,175.00,0.00,0.0,0.0,0.00,0.00,262.5000,525.0000
1048568,C23-1053,POND'S FM CREAM COL MGT WHT BEAUTY 35G,0.00,0.00,0.00,0.00,0.0,0.0,0.00,0.00,329.9000,329.9000
1048569,C23-1053,POND'S FWL ESSTNL CARE WHITE BEAUTY 100G,0.00,0.00,0.00,0.00,0.0,0.0,0.00,0.00,902.2602,902.2602
1048570,C23-1053,POND'S FWL ESSTNL CARE WHITE BEAUTY 50G,90.75,0.00,0.00,0.00,0.0,0.0,0.00,0.00,2178.0000,2268.7500

In [3]:
# read outlet data 2022
ol_df2 = pd.read_excel(open("C:/Users/Shithi.Maitra/Downloads/WS SKU Wise Outlet wise data.xlsx", "rb"), sheet_name="2022", header=1, index_col=None)
ol_df2.columns = ['outlet_code', 'basepack', 'jan_22', 'feb_22', 'mar_22', 'apr_22', 'may_22', 'jun_22', 'jul_22', 'aug_22', 'sep_22', 'oct_22', 'nov_22', 'dec_22', 'total']

# partial
ol_df2 = ol_df2[['outlet_code', 'basepack', 'jan_22', 'feb_22', 'mar_22', 'apr_22', 'may_22', 'jun_22', 'jul_22', 'aug_22', 'sep_22', 'dec_22']]

# refine outlet codes

# seq
ol_df2 = duckdb.query('''select *, row_number() over() seq from ol_df2''').df()

# min
qry = '''
select outlet_code outlet_code_rf, min(seq) min_seq
from ol_df2
where outlet_code is not null
group by 1
order by 2 asc
'''
df = duckdb.query(qry).df()

# max
min_seq = df['min_seq'].tolist()
max_seq = []
entries = len(min_seq)
for i in range(1, entries): max_seq.append(min_seq[i]-1)
max_seq.append(ol_df2.shape[0])
df['max_seq'] = max_seq

# join
qry = '''
select outlet_code_rf outlet_code, basepack, jan_22, feb_22, mar_22, apr_22, may_22, jun_22, jul_22, aug_22, sep_22, dec_22
from 
    ol_df2 tbl1 
    inner join 
    df tbl2 on(seq>=min_seq and seq<=max_seq)
'''
ol_df2 = duckdb.query(qry).df()

# handle nulls
ol_df2 = ol_df2.fillna(0)

# add
ol_df2['total_22'] = ol_df2['jan_22'] + ol_df2['feb_22'] + ol_df2['mar_22'] + ol_df2['apr_22'] + ol_df2['may_22'] + ol_df2['jun_22'] + ol_df2['jul_22'] + ol_df2['aug_22'] + ol_df2['sep_22'] 

# see
display(ol_df2)

,outlet_code,basepack,jan_22,feb_22,mar_22,apr_22,may_22,jun_22,jul_22,aug_22,sep_22,dec_22,total_22
0,K26-0452,RIN NM STD POWDER POWER WHITE 500G,41066.688,46585.0242,4106.6688,13090.0068,8448.0,22825.0000,19250.00,23099.9895,5197.5,10395.0000,183668.8773
1,K26-0452,SUNSILK REG RINSE OUT COND HFS 7ML,0.000,0.0000,0.0000,0.0000,0.0,96.0012,0.00,192.0024,0.0,0.0000,288.0036
2,K26-0452,SUNSILK SHAMPOO BLACK 6ML,0.000,0.0000,1512.0000,0.0000,0.0,252.0000,0.00,0.0000,0.0,1701.0000,1764.0000
3,K26-0452,SUNSILK SHAMPOO HFS 6ML,0.000,0.0000,1638.0000,0.0000,0.0,0.0000,0.00,0.0000,0.0,0.0000,1638.0000
4,K26-0452,SUNSILK SHAMPOO THICK&LONG 6ML,0.000,0.0000,0.0000,0.0000,0.0,185.9976,0.00,0.0000,0.0,3099.9600,185.9976
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048566,K26-0452,POND'S LOTION MOISTURIZING BODY 100ML,0.000,0.0000,0.0000,0.0000,0.0,0.0000,0.00,0.0000,0.0,0.0000,0.0000
1048567,K26-0452,POND'S LOTION MOISTURIZING BODY 200ML,0.000,0.0000,0.0000,0.0000,0.0,0.0000,0.00,0.0000,0.0,213.2567,0.0000
1048568,K26-0452,RIN NM STD POWDER POWER WHITE 1000G,0.000,0.0000,0.0000,1494.4800,0.0,800.6400,800.64,0.0000,0.0,0.0000,3095.7600
1048569,K26-0452,RIN NM STD POWDER POWER WHITE 200G,4180.000,0.0000,0.0000,330.0000,0.0,330.0000,0.00,0.0000,0.0,384.9996,4840.0000
1048570,K26-0452,RIN NM STD POWDER POWER WHITE 2KG,0.000,0.0000,0.0000,0.0000,0.0,0.0000,0.00,0.0000,0.0,1787.5000,0.0000

In [4]:
# combine
qry = '''
select * 
from 
    ol_df1 tbl1
    full join 
    ol_df2 tbl2 using(outlet_code, basepack)
'''
ol_df = duckdb.query(qry).df().fillna(0)
display(ol_df)

,outlet_code,basepack,jan_23,feb_23,mar_23,apr_23,may_23,jun_23,jul_23,aug_23,...,feb_22,mar_22,apr_22,may_22,jun_22,jul_22,aug_22,sep_22,dec_22,total_22
0,D10-4476,HORLICKS FUNC NTR JUNIR STAGE-2 JAR 500G,0.0000,0.0,0.00,0.00,0.00,0.0000,859.82,1289.73,...,0.00,0.00,383.18,0.00,766.36,383.18,822.42,0.0000,0.00,2726.5700
1,D10-4476,HORLICKS FUNC NTR STANDARD 18G,0.0000,0.0,0.00,0.00,0.00,13.7613,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,3301.20,3301.20,0.0000,0.00,6602.4000
2,D10-4476,HORLICKS FUNC NTR STD JAR 250G,0.0000,0.0,0.00,0.00,0.00,0.0000,0.00,1261.68,...,542.85,1266.65,186.92,0.00,0.00,0.00,0.00,0.0000,0.00,1996.4200
3,D10-4476,HORLICKS FUNC NTR STD JAR 500G,0.0000,0.0,785.04,3140.16,785.04,0.0000,785.04,1962.60,...,0.00,0.00,341.12,0.00,0.00,0.00,0.00,0.0000,0.00,341.1200
4,D10-4476,LIFEBUOY LIQUID HAND SOAP TOTAL 200ML,70.3333,0.0,0.00,0.00,0.00,0.0000,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0000,0.00,0.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1392227,K10-0965,POND'S FW LTN ESTL CARE PURE WHITE 100G,0.0000,0.0,0.00,0.00,0.00,0.0000,0.00,0.00,...,0.00,0.00,0.00,447.75,0.00,0.00,0.00,0.0000,0.00,447.7500
1392228,K10-0965,RIN NM STD POWDER POWER WHITE 2KG,0.0000,0.0,0.00,0.00,0.00,0.0000,0.00,0.00,...,0.00,0.00,827.34,6618.72,0.00,0.00,0.00,0.0000,0.00,11573.7400
1392229,K10-0965,SURF NM STD POWDER EXCEL 20G,0.0000,0.0,0.00,0.00,0.00,0.0000,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,434.4824,0.00,541.9832
1392230,K10-0965,VASELINE BODY PETROLEUM JELLY 50ML,0.0000,0.0,0.00,0.00,0.00,0.0000,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0000,586.32,0.0000
1392231,K10-0965,VASELINE BODY PETROLEUM JELLY 9ML,0.0000,0.0,0.00,0.00,0.00,0.0000,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0000,642.24,0.0000

In [5]:
# union
qry = '''
select outlet_code, basepack, dec_22, jan_23, feb_23, mar_23, apr_23, may_23, jun_23, jul_23, aug_23, sep_23, total_23, total_22, (total_23-total_22)*1.00/total_22 growth, 1 typ
from ol_df
union all
select *, jan_23+feb_23+mar_23+apr_23+may_23+jun_23+jul_23+aug_23+sep_23 total_23, 0 total_22, 0 growth, 2 typ
from
    (select 
        outlet_code, 
        basepack,
        0 dec_22, 
        jan_23-dec_22 jan_23, 
        feb_23-jan_23 feb_23, 
        mar_23-feb_23 mar_23, 
        apr_23-mar_23 apr_23, 
        may_23-apr_23 may_23, 
        jun_23-may_23 jun_23, 
        jul_23-jun_23 jul_23, 
        aug_23-jul_23 aug_23, 
        sep_23-aug_23 sep_23
    from ol_df
    ) tbl1
'''
tbl = duckdb.query(qry).df()

# BC
qry = '''
select outlet_code, sum(total_23)*1.00/(select sum(total_23) from tbl where typ=1) outlet_bc
from tbl
where typ=1
group by 1
'''
ol_bc_df = duckdb.query(qry).df()
qry = '''
select basepack, sum(total_23)*1.00/(select sum(total_23) from tbl where typ=1) basepack_bc
from tbl
where typ=1
group by 1
'''
bp_bc_df = duckdb.query(qry).df()

# growth
qry = '''
select outlet_code, sum(total_23-total_22)*1.00/sum(total_22) outlet_growth
from tbl
where typ=1
group by 1
'''
ol_growth_df = duckdb.query(qry).df()
qry = '''
select basepack, sum(total_23-total_22)*1.00/sum(total_22) basepack_growth
from tbl
where typ=1
group by 1
'''
bp_growth_df = duckdb.query(qry).df()

In [6]:
# OP
qry = '''
select outlet_code, basepack, dec_22, jan_23, feb_23, mar_23, apr_23, may_23, jun_23, jul_23, aug_23, sep_23, total_23, total_22, growth, outlet_bc, basepack_bc, typ
from 
    tbl tbl1 
    inner join 
    ol_bc_df using(outlet_code)
    inner join 
    bp_bc_df using(basepack)
order by outlet_bc desc, outlet_code asc, basepack_bc desc, basepack asc, typ asc
'''
res_df1 = duckdb.query(qry).df()
display(res_df1)

,outlet_code,basepack,dec_22,jan_23,feb_23,mar_23,apr_23,may_23,jun_23,jul_23,aug_23,sep_23,total_23,total_22,growth,outlet_bc,basepack_bc,typ
0,D02-1866,RIN NM STD POWDER POWER WHITE 500G,0.000,0.000,5402647.932,0.000,0.0000,0.0000,0.000,0.000,805521.450,0.0000,6.208169e+06,6.300472e+06,-0.014650,0.00577,0.094421,1
1,D02-1866,RIN NM STD POWDER POWER WHITE 500G,0.000,0.000,5402647.932,-5402647.932,0.0000,0.0000,0.000,0.000,805521.450,-805521.4500,0.000000e+00,0.000000e+00,0.000000,0.00577,0.094421,2
2,D02-1866,SUNSILK SHAMPOO BLACK 6ML,0.000,272160.000,151200.000,438480.000,181440.0000,371952.0000,0.000,68979.456,482856.192,293162.6880,2.260230e+06,1.543768e+06,0.464100,0.00577,0.052005,1
3,D02-1866,SUNSILK SHAMPOO BLACK 6ML,0.000,272160.000,-120960.000,287280.000,-257040.0000,190512.0000,-371952.000,68979.456,413876.736,-189693.5040,2.931627e+05,0.000000e+00,0.000000,0.00577,0.052005,2
4,D02-1866,WHEEL HARD SOAP 130G,677348.413,595053.746,341840.628,709002.784,392869.0116,669809.4624,478356.692,998273.718,0.000,669809.4624,4.855016e+06,4.808880e+06,0.009594,0.00577,0.042162,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2784459,k16-0015,TRESEMME RRO CND HAIR FALL DEFENSE 190ML,0.000,0.000,0.000,0.000,0.0000,0.0000,0.000,0.000,0.000,0.0000,0.000000e+00,0.000000e+00,0.000000,0.00000,0.000017,2
2784460,k16-0015,POND'S FWL ESSTNL CARE ANTIBAC 100G,0.000,0.000,0.000,0.000,0.0000,0.0000,0.000,0.000,0.000,0.0000,0.000000e+00,2.840000e+02,-1.000000,0.00000,0.000004,1
2784461,k16-0015,POND'S FWL ESSTNL CARE ANTIBAC 100G,0.000,0.000,0.000,0.000,0.0000,0.0000,0.000,0.000,0.000,0.0000,0.000000e+00,0.000000e+00,0.000000,0.00000,0.000004,2
2784462,k16-0015,BB TAAZA PB LOOSE 200G,0.000,0.000,0.000,0.000,0.0000,0.0000,0.000,0.000,0.000,0.0000,0.000000e+00,1.628339e+03,-1.000000,0.00000,0.000000,1
2784463,k16-0015,BB TAAZA PB LOOSE 200G,0.000,0.000,0.000,0.000,0.0000,0.0000,0.000,0.000,0.000,0.0000,0.000000e+00,0.000000e+00,0.000000,0.00000,0.000000,2

In [7]:
# summary

# outlet
qry = '''
select outlet_code, total, total_diff, outlet_bc, outlet_growth
from 
    (select outlet_code, sum(total_23) total, max(outlet_bc) outlet_bc
    from res_df1
    where typ=1
    group by 1
    ) tbl1 
    inner join 
    (select outlet_code, sum(total_23) total_diff
    from res_df1
    where typ=2
    group by 1
    ) tbl2 using(outlet_code)
    inner join 
    ol_growth_df tbl3 using(outlet_code)
order by outlet_bc desc
'''
res_df2 = duckdb.query(qry).df()
display(res_df2)

# basepack
qry = '''
select basepack, total, total_diff, basepack_bc, basepack_growth
from 
    (select basepack, sum(total_23) total, max(basepack_bc) basepack_bc
    from res_df1
    where typ=1
    group by 1
    ) tbl1 
    inner join 
    (select basepack, sum(total_23) total_diff
    from res_df1
    where typ=2
    group by 1
    ) tbl2 using(basepack)
    inner join 
    bp_growth_df tbl3 using(basepack)
order by basepack_bc desc
'''
res_df3 = duckdb.query(qry).df()
display(res_df3)

       outlet_code         total    total_diff  outlet_bc  outlet_growth
0         D02-1866  7.552840e+07 -1.247641e+06   0.005770      -0.082828
1         C20-1517  6.488491e+07 -3.994472e+06   0.004957      -0.004310
2         C20-1524  4.831564e+07 -1.014570e+05   0.003691       0.336790
3         D06-0004  3.949150e+07 -7.290953e+05   0.003017       0.783127
4      D02-2553841  3.841683e+07 -7.762018e+05   0.002935      14.447730
...            ...           ...           ...        ...            ...
14304  D85-2190666  0.000000e+00  0.000000e+00   0.000000      -1.000000
14305  C72-2147476  0.000000e+00  0.000000e+00   0.000000      -1.000000
14306  D20-2110442  0.000000e+00  0.000000e+00   0.000000      -1.000000
14307  C70-2151347  0.000000e+00  0.000000e+00   0.000000      -1.000000
14308  D77-2347612  0.000000e+00  0.000000e+00   0.000000      -1.000000

[14309 rows x 5 columns]

,basepack,total,total_diff,basepack_bc,basepack_growth
0,RIN NM STD POWDER POWER WHITE 500G,1.236016e+09,1.145517e+07,0.094421,0.301551
1,SUNSILK SHAMPOO BLACK 6ML,6.807736e+08,8.219334e+07,0.052005,0.262537
2,WHEEL HARD SOAP 130G,5.519143e+08,3.250669e+06,0.042162,0.068490
3,WHEEL NM STD PWDR CLEAN&FRESH 500G,5.312367e+08,-7.730590e+06,0.040582,0.281273
4,LIFEBUOY SKIN CLEANSING BAR TOTAL 100G,4.590611e+08,-2.620461e+07,0.035068,-0.096966
...,...,...,...,...,...
464,AXE MALE DEO AERO NON AP YOU 150ML,0.000000e+00,0.000000e+00,0.000000,-1.000000
465,PUREIT UW SP CASA X50 GPD LXCRU PUMP 1PC,0.000000e+00,-3.654550e+03,0.000000,NaN
466,POND'S CREAM ANTIAGE AGE MIR DAY 50ML,0.000000e+00,0.000000e+00,0.000000,-1.000000
467,WHEEL NM STD PWDR CLEAN&FRESH 250G,0.000000e+00,0.000000e+00,0.000000,-1.000000
468,REXONA FEMALE AP ROLL ON POWDER DRY 25ML,0.000000e+00,0.000000e+00,0.000000,-1.000000

In [8]:
# store
with pd.ExcelWriter("C:/Users/Shithi.Maitra/Downloads/outlet_basepack_delta_file.xlsx") as writer:
    res_df = duckdb.query('''select * from res_df1 limit 1000000''').df()
    res_df.to_excel(writer, sheet_name="Differences-BC", index=False)
    res_df2.to_excel(writer, sheet_name="Outlet Summary", index=False)
    res_df3.to_excel(writer, sheet_name="Basepack Summary", index=False)

In [9]:
## sanity
# qry = '''select sum(outlet_bc) from res_df2'''
# df = duckdb.query(qry).df()
# display(df)

In [10]:
# # feedback
# - add Dec data
# - growth YTD join
# - Q1, Q2, Q3 total and diff
# - area, town, channel, outlet, month, category, basepack